<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Jack Hunter Digital Portfolio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <nav>
            <a href="#">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/connect">Connect</a>
        </nav>
        <div>
            <h1>Jack Hunter</h1>
            <p>Welcome to my digital portfolio</p>
        </div>
        <img src="/static/styles/coverPhoto.jpg"> 
    </body>
</html>