<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Jack Hunter Digital Portfolio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <nav>
            <a href="#" style="color:black">Home</a>
            <a href="/about" style="color:black">About</a>
            <a href="/projects" style="color:black">Projects</a>
            <a href="/connect" style="color:black">Connect</a>
        </nav>
        <div>
            <h1>Jack Hunter</h1>
            <p>Welcome to my digital portfolio</p>
        </div>
    </body>
</html>