<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Personal Projects</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/projects.css') }}">
    </head> 
    <body>
        <h1>Personal Projects</h1>
        <div>
            <h3 id="Project1"><em>Ray Tracing</em></h3>
            <p id="RayDescription">Towards the end of my sophmore year Spring Semester, I was introcuded<br>
            to the field of computer grahpics. I found math behind this process of processing<br>
            a 3-Dimensional object on a 2-Dimensional surface captivating. After reading<br> 
            <em>Ray Tracing in a Weekend</em> by Pete Shirley, and a guide from ScratchPixel<br> 
            I have worked on my own algorithm for processing spheres</p>
        </div>
        <div>
            <img src="/static/styles/RayTracingEx.jpg" id="RayTrace">
            <video id="DSAvid" src="/static/styles/TreeExample.mp4" controls>Video not working</video>
        </div>
    </body>
</html>