body{
    background-color: white;
}

img{
    width: 249px;
    height: 236px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    top: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    justify-content: space-between;
    font-family: Copperplate, Papyrus, fantasy;
}

a{
    color: black;
}

a:hover{
    font-size: 20px;
    color: #2e94b9;
}
