nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    justify-content: space-between;
    font-family: Copperplate, Papyrus, fantasy;
}
