body{
    background-color: white;
}

#pfp{
    width: 187px;
    height: 177px;
    border-radius: 50%;
    border: 3px solid black;
    position: fixed;
    left: 25px;
    top: 125px;
}

#background{
    width: 800px;
    height: 553px;
    position: fixed;
    right: 25px;
    border: 3px solid black;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    width: 700px;
    justify-content: space-between;
    font-family: Copperplate, Papyrus, fantasy;
}

a{
    color: black;
}

a:hover{
    font-size: 20px;
    color: #2e94b9;
}

h1{
    position: fixed;
    left: 20px;
    top: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    position: fixed;
    width: 250px;
    word-wrap: break-word;
    left: 20px;
    top: 350px;
}